// === MESSAGES SUCCES ET ERREURS ===

.message-success {
    color: rgb(0, 255, 0);
    font-weight: bold;
    text-align: center;
    margin: 1rem 0;
  }
  
  .message-error {
    color: red;
    font-weight: bold;
    text-align: center;
    margin: 1rem 0;
  }
  