// === Couleurs ===
$orange: #FF763F;
$orange-dark: #e35f29;
$beige: #FFF4D9;
$jaune-pale: #FFEFC6;
$brun: #412738;
$gris-vert: #BAC3B5;

// === Autres variables éventuelles ===
$font-texte: 'Roboto', sans-serif;
$font-titres: 'Bebas Neue', cursive;
