# Je démarre le moteur de réécriture d’URL d’Apache
RewriteEngine On

# Mon projet est dans un sous-dossier "ciné-hurlant", donc je lui dis que c’est 
# ma base pour toutes les URLs
RewriteBase /cine-hurlant/public/

# Si le fichier demandé n’existe pas physiquement (ex : pas une image, pas un fichier CSS, etc.)
RewriteCond %{REQUEST_FILENAME} !-f

# ...et si ce n’est pas non plus un dossier
RewriteCond %{REQUEST_FILENAME} !-d

# Alors je redirige tout vers index.php
# L’URL tapée dans le navigateur est transmise à index.php, c’est lui qui décidera quoi faire
# QSA : je garde les paramètres éventuels (ex : ?id=4), L : c’est la dernière règle exécutée
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

# Je bloque l’accès direct à certains fichiers sensibles (ex : .env, .gitignore, .sql, .php...)
# Ces fichiers ne doivent pas être consultables depuis un navigateur
<FilesMatch "^(\.env|\.gitignore|\.htaccess|.*\.(ini|log|sql|bak|md|json))$">
  # J’interdis l’accès, même si quelqu’un essaie d’y aller en tapant l’URL directement
  Require all denied
</FilesMatch>
